HOST=0.0.0.0
PORT=3000
STORE_NAME=Wilcraft Store

DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
LIVE_STOCK_CHANNEL_ID=
ADMIN_CHANNEL_ID=
BUY_LOG_CHANNEL_ID=
DEPOSIT_LOG_CHANNEL_ID=
ADMIN_ROLE_IDS=
PURCHASE_ROLE_IDS=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
QRIS_FEE_PERCENT=0.7
QRIS_EXPIRY_MINUTES=10

MIN_TOPUP_IDR=10000
MAX_TOPUP_IDR=10000000
